<!DOCTYPE html>
<html >

  <head>
    <meta charset="UTF-8">
    
    <title>Goal Score - egobrightan</title>

  </head>
  <style>
     table {
       width: 100%;
       background-color: #f0f0;
     }
     tr ,td {
       border: 1px;
       border-color: red;
     }
     .min {
       color: green;
       width: 10%
     }
     .home, .away {
       width: 35%
     }
     .score {
       width: 20%
     }
  </style>

  <body translate="no">

    <div ng-app="myApp" ng-controller="myController">

      <div class="container-fluid">
        <h1>Livescore by ego</h1>
        <!-- <button class="btn btn-default" ng-click="showMore = !showMore">Expand / Collapse</button> -->
      </div>

      <div class="theData">
        <!-- <div ng-repeat="child in myData">
                Tournaments:{{child.tournament.name | json}}
                category : {{child.category.name}}
          <div ng-repeat="x in child.events">
            mins :{{x.statusDescription}}
            Home:
            {{x.homeTeam.name}}
            Score:{{x.homeScore.current}}<br>
            Away:
            {{x.awayTeam.name}}
            Score:
            {{x.awayScore.current}}
          </div>
        </div> -->
        <table ng-repeat="child in myData">
          
          <tr>
             <td colspan="4">
                <h5><span>{{child.category.name}}</span> : {{child.tournament.name}}<span> | match {{child.events.length}}</span></h5>
             </td>
             
          </tr>
          <tr ng-repeat="x in child.events">
            <td class="min">{{x.statusDescription}}</td>
            <td class="home">{{x.homeTeam.name}}</td>
            <td class="score">{{x.homeScore.current}} - {{x.awayScore.current}}</td>
            <td class="away">{{x.awayTeam.name}}</td>
          </tr><hr>
        </table>
        
      </div>
    </div>
    <!-- <div ng-repeat="x in child.tournaments.tournament">
            <pre>
              {{x.name}}
            </pre>
            <!-- <ul>
              <li>
                <strong>{{ x.tournament.name }}</strong>
              </li>

            </ul>
              <ul ng-repeat="y in x.tournament">
                <li>{{ y.name }}:
                  <span class="perc per1">{{ y.percentage | toPercent }}</span>
                </li>
                <ul ng-repeat="z in y.children">
                  <li>{{ z.name }}:
                    <span class="perc per2">{{ z.percentage | toPercent }}</span>
                  </li>
                  <ul ng-repeat="q in z.children" ng-show="showMore">
                    <li>{{ q.name }}:
                      <span class="perc per3">{{ q.percentage | toPercent }}</span>
                    </li>
                  </ul>
              </ul>
          </ul>
            </ul>

          </div> -->

    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js'></script>

    <script>
      //JSON saved @ Codepen: http://codepen.io/malybob/pen/mRVvzo.js using Angular JS
      var app = angular.module('myApp', []);

      //load data to 'myData'
      app.controller('myController', [
        '$scope',
        '$http',
        function ($scope, $http) {
          $http.get('http://www.sofascore.com/football/livescore/json?timezone=6.5').then(function (response) {
            $scope.myData = response.data.sportItem.tournaments;
          });
        }
      ]);

      //custom filter (no built-in function to convert to %)
      app.filter('toPercent', function () {
        return function (num) {
          var out = (num * 100).toFixed(1) + "%";
          return out;
        };

      });
    </script>

  </body>
</html>
